header, footer {text-align: center;}
nav ul {text-align: center; padding: 0 !important;}
nav li {list-style: none;}

body {background-color: #aaa !important;}

.endtimes-table {width: 100%; border: 1px solid #eee;}
.endtimes-table th {background: whitesmoke; text-align: center; font-weight: bold;}
.endtimes-table:nth-child(odd) {
    background: whitesmoke;
}
