 body{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 1.5em; background: whitesmoke; color: black;}

p, li { line-height: 1.8em;}
a{font-weight: bold;}
a:hover{color: red; background-color: yellow;}

h1 a {color: red !important;}

textarea:not([cols]) {
width: 95%;
font-size: 12pt;
height: 5em;
	display: block;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
background: #111;
color: whitesmoke;
}

a {color: lime;}

}
