
    #contact a, footer a {color: white; text-decoration: underline !important;}
    #contact .main-btn {text-decoration: none !important; }

    @media (prefers-color-scheme: dark) {
        body {
            background: #222;
            color: whitesmoke;
        }

        h1,h2,h3,h4,h5,h6 {
          color: whitesmoke;
        }

        .feature-section .single-feature .icon  {
          background: #eee;
        }

        a {
            color: lime;
        }
    }


